extends layout

block content
	//if(place)
	#restaurant-info
		.container
			#street-view
				#street-view-wrapper
					#pano
				#photo
			.restaurant
				.button-menu
					button#back-to-map-button.main-button
						a(href='#header') Back to Map
					button#see-photo.main-button See Photo
					button#see-street-view.main-button See Street View
					button#add-review-button.main-button
						a(href=`/addReview/${restaurant}`) Add a Review
				h2#name.restaurant-name #{name} name of restaurant missing
				p#address.restaurant-details #{vicinity} vicinity missing
				p#telephone.restaurant-details #{phone} phone missing
				if(website)
					p#website.restaurant-details #{website} website missing
				.review-header
					if(reviews)
						h3.title Reviews #{reviews.description} reviews missing
						p add reviews here
				#reviews
				#show-message
